.admin-layout{
    height: 100%;
    width: 100%;
    display: flex;
       .admin-inner{
        width: calc(100% - 250px);
        display: inline-block;
        .admin-top-area {
            padding: 16px 24px;
            border-bottom: 1px solid var(--border-seperator-color);
        }
        .admin-bottom-area {
            width: 100%;
            box-sizing: border-box;
            padding: 25px;
        }
    }
}