.auth-layout {
    height: 100%;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    // background-image: url('@/assets/images/auth-background.png');
    background-color: var(--auth-bg-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .auth-page-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .logo-container{
            margin-bottom: 40px;
        }
        .auth-form {
            width: 500px;
            padding: 10px 0px;
            height: auto;
            border: 1px solid var(--auth-form-color);
            background-color: var(--auth-form-color);
            border-radius: 16px;
            .auth-head {
                width: auto;
                margin: auto;
                padding: 10px 20px;
                .logo-container{
                    margin: auto;
                }
            }
            .auth-body {
                padding: 10px 20px;
            }
        }
    }
}
