form{

}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
    position: relative;
    .form-label{
        font-family: var(--font-semibold);
        color: var(--text-color);
        padding-bottom: 4px;
        font-size: var(--font-base);
    }
    .icon {
        width: 20px;
        position: absolute;
        left: -1px;
        padding: 3px 4px;
        background-color: var(--form-icon-bg);
        border: 1px solid var(--input-border-color)
    }
    input[type="text"], input[type="password"]{
        padding: var(--input-padding);
        font-size: 16px;
        border-radius: 4px;
        outline: 0;
        border: 0px solid var(--input-border-color);
    }
    .error{
        color: var( --error-color);
        font-family: var(--font-light);
        font-size: var(--font-sm);
        padding-top: 4px;
    }
}
.form-control{
    padding: var(--select-padding);
    font-size: 16px;
    border-radius: 4px;
    background-color: var(--card-bg-color);
    color: #fff;
    outline: 0;
    border: 0px solid var(--input-border-color);
    height: 32px;
}
.btn{
    &.btn-primary{
        font-size: var(--font-base);
        background-color: var(--btn-color);
        color: var(--btn-text-color);
        border-radius: var(--btn-radius);
        border: var(--btn-border);
        padding: var(--btn-padding);
        cursor: pointer;
    }
}