@use '@/assets/scss/variables.scss';
@use '@/assets/scss/fonts.scss';
@use '@/assets/scss/form.scss';
@use '@/assets/scss/grid.scss';
@use '@/assets/scss/card.scss';


html{
    height: 100%;
    font-family: var(--font-regular);
    body{
        margin: auto;
        height: 100%;
        background-color: var(--body-bg-color);
        color: var(--text-color);
        #app{
            width: 100%;
            height: 100%;
        }
    }
    .text-center{
        text-align: center;
    }
    .text-left{
        text-align: left;
    }
    .text-right{
        text-align: right;
    }
    .admin-layout{
        height: 100%;
    }
}