// Color variable
:root{
    --primary: #e02a21;
    --secondary: #b1e5fb;
    --text-color: #dadbe1;
    --input-color: #fff;
    --input-border-color: #e02a21;
    --btn-color: #e02a21;
    --btn-text-color: #fff;
    --error-color: #b50c0c;
    --auth-bg-color: #1d1e24;
    --body-bg-color: #1d1e24;
    --card-bg-color: #2b2c34;
    --form-icon-bg: #e02a21;
    --heading-color: #acacae;
    --auth-form-color: #2b2c34;
    --border-seperator-color: #363740;
}

// font family variable
:root{
    --font-light: 'Roboto-light';
    --font-regular: 'Roboto-Regular';
    --font-semibold: 'Roboto-SemiBold';
    --font-bold: 'Roboto-Bold';
    --font-xs: 10px;
    --font-sm: 12px;
    --font-md: 14px;
    --font-base: 16px;
    --font-large: 18px;
    --font-xlarge: 20px; 
    --h1: 32px;
    --h2: 30px;
    --h3: 28px;
    --h4: 26px;
    --h5: 24px;
    --h6: 20px;
}

// spacing and padding variables

:root{
    --btn-padding: 12px 31px;
    --btn-radius: 6px;
    --btn-border: 0px solid;
    --input-padding: 6px 5px 6px 40px;
    --select-padding: 6px 5px;
    --sidebar-item-padding: 10px 24px;
}